*{
    margin: 0%;
    padding: 0%;
}
body{
    color:aqua;
    background-color: rgb(24, 39, 107);
}
.first{
    
    background-color: black;
    color:aqua;
    margin: 0%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
font-weight: 100;
font-family:  Times, serif;
    height:50vw;
}


.second{
    color: rgb(130, 231, 6);
  margin: 2px;
    background-color: black;
    height:50vw;
    display:flex;
    flex-wrap: wrap;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;

  }
  
button:hover {
    background-color: #6a4caf;
    color: rgb(206, 32, 105);
    border-radius: 5px;
