*{
  margin: 0;
  padding: 0;
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    padding: 2px;
    border-radius: 2px ;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}
/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}
#logo img{
    height: 59px;
    margin: 3px 6px;
}
/* Navigation Bar: List Styling */
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}
#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
.it{
  background-color: black;
  height: 500px;
display: flex;
}
#item1{
color: antiquewhite;
  background-color: rgb(8, 10, 10);
  height: 500px;
  width: 50%;
  line-height: 70px;
}

#item2{
  height: 500px;
  background-color: rgb(12, 3, 3);
  width: 50%;
}
#item2 img{
  width: 600px;
  height:500px;
  padding-bottom: 10px;
  margin-bottom: 10%;
}
.about{
  width: 100%;
  height:200px;
  background-color: rgb(1, 9, 6);
  color: rgb(218, 213, 213);
  text-align: center;
  padding: 2px;
}
#aboutme{
  font-family: fantasy,Times, serif;
}
.about h2:hover{
  background-color: rgb(206, 196, 196);
  color: rgb(13, 13, 1);
}
#rainbow{
  font-size: 2em;
  font-weight: 700;
  background: linear-gradient(90deg,red,orange, yellow, green, blue, white);
  background-size: 17%; 
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0.2);
  transition: all 1s;
}
#rainbow:hover{
  background-position: -17%;
  color: white;
}
#footer{
  background-color: rgb(18, 7, 7);
  font-size: 20px;
  text-align:center;
height: 40px;
color:rgb(201, 192, 192);
}
</style>
